@font-face {
    font-family: Modernist;
    src: url("./fonts/SK-Modernist-Regular.otf");
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


a:link, a:visited {
    color: #ffffff;
    font-size: 10pt;
    font-weight: lighter;
    text-decoration: none;
}

a:hover {
     /*color: #fff111; */
     color: #ffffff;
     -webkit-transition: 0.5s;
}

body {
    color: #ffffff;
    background-color: #000001;
    font-family: "Modernist";
}

div {
    text-align: center;
}

h1 {
    animation: 1s ease-in 0s 1 fade-in;
    font-family: 'Lato';
    font-size: 75px;
    font-weight: 100;
    margin-bottom: 1%; 
    padding-top: 11.3%;
    text-align: center;
}

i {
    animation: 1s ease-in 0s 1 drop;
}

span {
    padding-left: 15px;
    padding-right: 15px;
}
