a:link, a:visited {
	color: #000000;
	font-size: 12pt;
	text-decoration: none;
}

a:hover {
	color: #7CBB00;
	/* color: #34a853; */
	-webkit-transition: 0.5s;
}

body {
	font-family: "Monospace";
}

h1 {
	font-size: 100px;
	text-align: center;
}

p {
	padding-bottom: 67px;
	text-align: center;
}

a:hover.email {
	color: #002f65;
}

a:hover.github {
	color: #4078c0;
}

a:hover.twitter {
	color: #55acee;
}

a:hover.stackexchange {
	color: #2f96e8;
}

a:hover.facebook {
	color: #3b5999;
}

a:hover.instagram {
	color: #125688;
}
