@font-face {
    font-family: Modernist;
    src: url("./fonts/SK-Modernist-Regular.otf");
}

a:link, a:visited {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 10pt;
    font-weight: lighter;
    padding-right: 10px;
    text-decoration: none;
}

a:hover {
     color: #fff111; 
     font-family: "Modernist";
     -webkit-transition: 0.5s;
}

body {
    color: #ffffff;
    background-color: #000001;
    font-family: "Modernist";
}

h1 {
    /*border-bottom: 1px solid #ffffff;*/ 
    font-family: 'Lato';
    font-size: 75px;
    font-weight: 100;
    margin-bottom: 1%; 
    padding-top: 11.3%;
    text-align: center;
}

p {
    text-align: center;
}
